<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coddingcoggies.mapper.DiaryMapper">
<insert id="insertDiary" parameterType="coddingcoggies.dto.Diary">
	INSERT INTO diary(diary_id, diary_title, diary_feelingCode, diary_date, diary_contents, member_no, diary_weatherCode, diary_fileurl)
	VALUES (diary_seq.NEXTVAL,#{diary_title}, #{diary_feelingCode}, #{diary_date},#{diary_contents}, #{member_no},  #{diary_weatherCode}, #{diary_fileurl})
</insert>
<select id="getAllDiary" resultType="coddingcoggies.dto.Diary">
	SELECT * FROM diary
</select>

<!--  id one select  -->
<select id="getDiaryById" resultType="coddingcoggies.dto.Diary" parameterType="int">
	SELECT diary_date, member_no, diary_id, DIARY_TITLE, DIARY_FEELINGCODE, DIARY_CONTENTS, DIARY_WEATHERCODE, DIARY_FILEURL  
	FROM diary 
	WHERE diary_id = #{diary_id}
</select>

<update id="updateDiary" parameterType="coddingcoggies.dto.Diary">
	UPDATE diary
	SET diary_title= #{diary_title},
		diary_feelingCode= #{diary_feelingCode},
		diary_contents= #{diary_contents},
		diary_weatherCode= #{diary_weatherCode},
		diary_fileurl= #{diary_fileurl}
	WHERE diary_id = #{diary_id}
</update>
<delete id="deleteDiary" parameterType="int">
	DELETE FROM diary
	WHERE diary_id = #{diary_id}
</delete>
</mapper>