<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="coddingcoggies.mapper.DiaryLoginMapper">
	<select id="getLogin" resultType="coddingcoggies.dto.DiaryLogin">
		SELECT * FROM diary_member
		WHERE member_id = #{member_id}
		AND   member_pw = #{member_pw}
	</select>
</mapper>